.logo{
    text-align: center;
}

.parentcontainer{
    border: 1px solid rgb(248, 243, 243);
}

.logoicon img{
    width: 30px;
    height: 30px;



}


.logoicon{ 
    background-color: rgb(247, 240, 240);
    
    
}
.heading{ 
background-color: white;
margin: left 10px; ;

}
.portal{
    border: 0px solid rgb(245, 238, 238);

}
.parentcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputcountainer{
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.row1{
    display: flex;
margin-left: auto;
margin-right: auto;
width: 80%;
gap: 20px;

}
.inputcountainer input{

padding: 15px;
border:3px solid green;
border-radius: 8px;
}






.inputcountainer{
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.row2{
    display: flex;
margin-left: auto;
margin-right: auto;
width: 80%;
gap: 20px;
margin-top: 30px;

}
.inputcountainer input{

padding: 15px;
border:3px solid green;
border-radius: 8px;
}






.inputcountainer{
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.row3{
    display: flex;
margin-left: auto;
margin-right: auto;
width: 80%;
gap: 20px;
margin-top: 30px;

}
.inputcountainer input{

padding: 15px;
border:3px solid green;
border-radius: 8px;
}




.inputcountainer{
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.row4{
    display: flex;
margin-left: auto;
margin-right: auto;
width: 80%;
gap: 20px;
margin-top: 30px;

}
.inputcountainer input{

padding: 15px;
border:3px solid green;
border-radius: 4px;
}


.inputcountainer{
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.row5{
    display: flex;
margin-left: auto;
margin-right: auto;
width: 80%;
gap: 20px;
margin-top: 30px;

}
.inputcountainer input{

padding: 15px;
border:3px solid green;
border-radius: 4px;
}



.inputcountainer{
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.row6{
    display: flex;
margin-left: auto;
margin-right: auto;
width: 80%;
gap: 20px;
margin-top: 30px;

}
.inputcountainer input{

padding: 15px;
border:3px solid green;
border-radius: 4px;
}



.img{
width: 30px;
height: px;

}




.submit{
width: 1400px;
height: 40px;
background-color: lightblue;

}

.portal button{
border-radius: 20px;
background-color: rgb(139, 168, 247);
padding: 5px;
}





















