*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





.top_bar li{
display: flex;    
display: inline-block;
}


.top_bar button{
display: inline-block;
/* position: absolute; */

}




.English{
    display: inline-block;
    position: absolute;
    top: 22px;
left: 1320px
}



.top_bar{
    background-color:#EEEEEE;
height: 50px; 
color: #666666;
}


.whatsapp_image{
    height: 10px;
position: absolute;
left: 500px;
top: 28px;
}

.whatsapp_text{
display: inline-block;
margin-left: 300px;
color: #666666;
}




.react_whatsapp{
border: 1px solid #666666;
background-color: #666666;
position: absolute;
top: 8px;
/* margin-left: 30px; */

}


.whitespace-nowrap{
    margin-left: 150px;
    /* margin-top: 50px; */
}

.w-fititems-center{
    position: absolute;
    left:0;
}


.phone{
    position: absolute;
    left: 270px;
    top: 25px;
    color:#666666
}   

.number{
    position:absolute;
    left: 290px;
    top: 10px;
color: #666666
}





.saylanilogo img{
width: 250px;
height: 100px;
}


.saylanilogo{
    display: flex;
}



.websites{
    position: absolute;
    top: 80px;
    left: 300px;
}


.About{
    position: absolute;
    top:  80px;
    left: 400px;
}


.Service{
    position: absolute;
    top: 80px;
    left: 500px;
}


.media{
    position: absolute;
    top: 80px;
    left: 600px;
}



.ConTact{
    position: absolute;
    top: 80px;
    left: 700px;
}



.Bank{
    position: absolute;
    top: 80px;
    left: 820px;
}


.other{
    position: absolute;
    top: 80px;
    left: 970px;
}


.Donate button{
    background-color:#0D6DB7 ;
    width: 150px;
    height: 60px;
position: absolute;
left: 1100px;
top: 80px;
border: 1px solid;
border-radius: 5px;
}


.Sponsor button{
    background-color: #8DC63F;
    width: 150px;
    height: 60px;
    position: absolute;
left: 1260px;
top: 80px;
border: 1px solid;
border-radius: 5px;
}


.imageofsaylani{
position: absolute;
left: 650px;

}




.text{
display: flex;
}

::-webkit-scrollbar {
    display: none;
}


.textpara {
    position: absolute;
    top: 300px;
    /* background-color: red; */
left: 80px;
z-index: 1;
}

 

.circle img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 240px;
    left: 140px;
    
}


.footer p{
    position: absolute;
    top: 470px;
    left: 80px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.Welfare{
    position: absolute;
    top: 540px;
    left: 80px;
    font-size: large;
}

.local{
    position: absolute;
    top: 570px;
    left: 80px;
    font-size: large;
}   

.more{
    position: absolute;
    top: 600px;
    left: 80px;
    font-size: large;
}

.explore button img{
height: 50px;
width: 70px;

}

.explore button{
    position: absolute;
    top: 650px;
    left: 80px;
}




.imageofsaylani img{
    height: 600px;
    position: absolute;
    left: 150px;
}

.general{
    background-color: #F0FCDB;
    position: absolute;
    top: 790px;
    width: 1150px;
    height: 150px;
    display: flex;
    left: 180px;
    /* right: 40px; */
    align-items: center;
}


.general button{
    height: 50px;
    width: 70px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #424242;
    color: white;

}



    .general input{
        height: 50px;
    }


.RS{
    position: absolute;
    left: 218px;
}


.Treatment {
    height: 60px;
    position: absolute;
    top: 840px;
    left: 480px;
    align-items: center;
    border-radius: 5px;
    font-size: medium;
    background-color: white;
}
.family {
    height: 50px;
    position: absolute;
    top: 840px;
    left: 740px;
    align-items: center;
    width: 150px;
    border-radius: 5px;
    height: 60px;
    font-size: large;
    background-color: white;

}


.Medical {
    height: 50px;
    position: absolute;
    top: 840px;
    left: 900px;
    align-items: center;
    width: 120px;
    border-radius: 5px;
    height: 60px;
    background-color: white;

    font-size: large;
}


.food {
    background-color: white;

    height: 50px;
    position: absolute;
    top: 840px;
    left: 1040px;
    align-items: center;
    width: 110px;
    border-radius: 5px;
    height: 60px;
    font-size: large;
}




.dot {
    height: 50px;
    position: absolute;
    background-color: #8DC63F;

    top: 840px;
    left: 1170px;
    align-items: center;
    width: 150px;
    border-radius: 5px;
    height: 60px;
    font-size: large;
}

.bakra img{
    position: absolute;
    top: 970px;
    left: 180px;
    width: 1150px;
}



.nate {
    height: 50px;
    position: absolute;
    background-color: #8DC63F;

    top: 1620px;
    left: 1090px;
    align-items: center;
    width: 250px;
    border-radius: 5px;
    height: 60px;
    font-size: large;
}

.heading1{
    position: absolute;
    top: 1750px;
left: 600px;
font-family: Arial, Helvetica, sans-serif;
}









/* .medicalo{
    position: absolute;
    top: 1300px;
    background-color:#F0FCDB;
    left: 250px;
    width: 150px;
} */


/* .onlinesadqah{
    position: absolute;
    top: 1300px;
    background-color:#F0FCDB;
    left: 500px;
    width: 150px;
    height: 200px;
} */






/* .cleanwater{
    position: absolute;
    top: 1300px;
    background-color:#F0FCDB;
    left: 700px;
    width: 150px;
}


.education{
    position: absolute;
    top: 1300px;
    background-color:#F0FCDB;
    left: 950px;
    width: 150px;
}


.fodoo{
    position: absolute;
    top: 1300px;
    background-color:#F0FCDB;
    left: 1150px;
    width: 150px;
} */



/* .khuzaimah{
    position: absolute;
    top: 1300px;
    background-color:#F0FCDB;
    left: 0px;
    width: 150px;
    z-index: 1px;
    height: 150;
}  */


.fare{
    position: absolute;
    top: 1450px;
    background-color:#F0FCDB ;
    width: 150px;
    text-align: center;
    
}


.medi{
    position: absolute;
    top: 1450px;
    background-color:#F0FCDB ;
    width: 150px;
    text-align: center;
    left: 250px;
    
}
.sadqah{
    position: absolute;
    top: 1500px;
    background-color:#F0FCDB ;
    width: 150px;
    text-align: center;
    left: 500px;
    
}


.fare h1{
    background-color:#F0FCDB ;
    width: 190px;;
    height: 150px;
    position: absolute;
    top: 400px; 
     left: 80px; 
     display: flex;
justify-content: center;
     align-items:end ;
     font-family: Arial, Helvetica, sans-serif;
}


.wel{
    position: absolute;
    left: 140px;
    top:1850px;
    
}

.far h1{
background-color:#F0FCDB ;
width: 190px;;
height: 150px;
position: absolute;
top: 1850px; 
 left: 300px; 
 display: flex;
justify-content: center;
 align-items:end ;
 font-family: Arial, Helvetica, sans-serif;
}

.well{
    position: absolute;
    left: 360px;
    top:1850px;
}


.cir img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 240px;
    left: 840px;
}

.cle img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 600px;
    left: 600px;
}



.are h1{
    background-color:#F0FCDB ;
    width: 190px;;
    height: 150px;
    position: absolute;
    top: 1850px; 
     left: 530px; 
     display: flex;
    justify-content: center;
     align-items:end ;
   padding-left: 12px;
     font-family: Arial, Helvetica, sans-serif;
    }
    
    .we{
        position: absolute;
        left: 600px;
        top:1850px;
    }




    .fa h1{
        background-color:#F0FCDB ;
        width: 190px;;
        height: 150px;
        position: absolute;
        top: 1850px; 
         left: 750px; 
         display: flex;
        justify-content: center;
         align-items:end ;
         font-family: Arial, Helvetica, sans-serif;
        }
        
        .el{
            position: absolute;
            left: 800px;
            top:1850px;
        }



        .a h1{
            background-color:#F0FCDB ;
            width: 190px;;
            height: 150px;
            position: absolute;
            top: 1850px; 
             left: 980px; 
             display: flex;
            justify-content: center;
             align-items:end ;
             font-family: Arial, Helvetica, sans-serif;
            }
            
            .l{
                position: absolute;
                left: 1030px;
                top:1850px;
            }
    
            .f h1{
                background-color:#F0FCDB ;
                width: 190px;;
                height: 150px;
                position: absolute;
                top: 1850px; 
                 left: 1200px; 
                 display: flex;
                justify-content: center;
                 align-items:end ;
                 font-family: Arial, Helvetica, sans-serif;
                }
                
                .e{
                    position: absolute;
                    left: 1270px;
                    top:1850px;
                }
        
        
           
           .span img{
           position: absolute;
           top: 2050px;
           width: 400px;
           height: 280px;
           left: 100px;
           border-radius: 10px;
           z-index: -auto;

           }


           .Daily h5{
               position: absolute;  
        top: 2100px;  
           left: 100px;
        font-size: x-large;
        color: white;
        } 


.pan img{
    position: absolute;
    top: 2050px;
    width: 400px;
    height: 280px;
    left: 520px;
    border-radius: 10px;
    z-index: -auto;
}
        

.an img{
    position: absolute;
    top: 2050px;
    width: 400px;
    height: 280px;
    left: 950px;
    border-radius: 10px;
    z-index: -auto;
}
      
.k img{
    position: absolute;
    top: 2380px;
    width: 620px;
    height: 400px;
    left: 100px;
    border-radius: 50px;

}


.k{
    background-color: red;
}



.dn button{
    height: 50px;
    position: absolute;
    background-color: #8DC63F;
border-color: #8DC63F;
    top: 2250px;
    left: 100px;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    height: 40px;
    font-size: large;
}







.don{
    height: 50px;
    position: absolute;
    background-color: #8DC63F;
border-color: #8DC63F;
    top: 2250px;
    left: 520px;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    height: 40px;
    font-size: large;
}




.mw{
    height: 50px;
    position: absolute;
    background-color: #8DC63F;
border-color: #8DC63F;
    top: 2250px;
    left: 950px;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    height: 40px;
    font-size: large;
}

.heading10{
position: absolute;
top: 2375px;
left: 800px;

}


.heading10image{
    position: absolute;
top: 2430px;
left: 750px;

background-color: #EEEEEE;
}

.Hepatitis h1{
    position: absolute;
    top: 2420px;
    left: 820px;
    color: #0D6DB7;
}

.Hepatitis p{
    position: absolute;
    top: 2460px;
    left: 820px;
}


.heading11image{
    position: absolute;
    top: 2500px;
    left: 750px;
    
    background-color: #EEEEEE;
}

.house h1{
    position: absolute;
    top: 2500px;
    left: 820px;
    color: #0D6DB7;
}

.house p{
    position: absolute;
    top: 2540px;
    left: 820px;
   
}



.heading12image{
    position: absolute;
    top: 2580px;
    left: 750px;
    
    background-color: #EEEEEE;
}

.itliteracy h1{
    position: absolute;
    top: 2580px;
    left: 820px;
    color: #0D6DB7;
}


.itliteracy p{
    position: absolute;
    top: 2620px;
    left: 820px;
    
}





.heading13image{
    position: absolute;
    top: 2670px;
    left: 750px;
    
    background-color: #EEEEEE;
}

.tharparkar h1{
    position: absolute;
    top: 2670px;
    left: 820px;
    color: #0D6DB7;
}


.tharparkar p{
    position: absolute;
    top: 2710px;
    left: 820px;
 
}






.multiline img{
position: absolute;
top: 2800px;
left: 80px;
border-radius: 10px;
width: 1300px;
height: 450px;
}




.dish img{
    position: absolute;
    top: 2900px;
    left: 200px;
    /* border-radius: 10px; */
    /* width: 1300px; */
    /* height: 450px; */
}




.head{
position: absolute;
top: 2970px;
left: 200px;
}

.headeo{
    position: absolute;
top: 3000px;
left: 200px;
}


.ahead{
    position: absolute;
top: 3030px;
left: 200px;
}








.he img{
    position: absolute;
    top: 2900px;
    left: 500px;
    /* border-radius: 10px; */
    /* width: 1300px; */
    /* height: 450px; */
}




.ehead{
position: absolute;
top: 2970px;
left: 500px;
}

.heado{
    position: absolute;
top: 3000px;
left: 500px;
}


.aehead{
    position: absolute;
top: 3030px;
left: 500px;
}



.oe img{
    position: absolute;
    top: 2900px;
    left: 800px;
    /* border-radius: 10px; */
    /* width: 1300px; */
    /* height: 450px; */
}




.eead{
position: absolute;
top: 2970px;
left: 800px;
}

.hado{
    position: absolute;
top: 3000px;
left: 800px;
}


.ead{
    position: absolute;
top: 3030px;
left: 800px;
}




.o img{
    position: absolute;
    top: 2900px;
    left: 1100px;
    /* border-radius: 10px; */
    /* width: 1300px; */
    /* height: 450px; */
}




.d{
position: absolute;
top: 2970px;
left: 1100px;
}

.ado{
    position: absolute;
top: 3000px;
left: 1100px;
}


.ad{
    position: absolute;
top: 3030px;
left: 1100px;
}

.testimonials{
    position: absolute;
    top: 3300px ;
    left: 650px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #8DC63F;
}


.whatthey{
    position: absolute;
    top: 3350px;
    left: 620px;
}




.arshad{
    position: relative;
    top: 3300px;
    background-color: #EEEEEE;
    width: 1300px;
    height: 200px;
    left: 80px;
    right: 100px;
}




.arshad img{
    top: 10px;
position: absolute;
left: 620px;
    width: 70px;
    border-radius: 100px;
    height: 70px;
}


.arshad p{
   /* left: 680px; */
    /* width: 70px; */
    /* border-radius: 100px; */
    /* height: 70px; */
position: absolute;
top: 150px;

}


.uptades{
    position: absolute;
left: 650px;
    top: 3750px; ;
}



.video iframe{
    position: absolute;
    top: 3850px;
    width:300px;
    height: 250px;
    left: 70px;
}



.iframe iframe{
    position: absolute;
    top: 3850px;
    width:300px;
    height: 250px;
    left: 420px;
}



.youtube iframe{
    position: absolute;
    top: 3850px;
    width:300px;
    height: 250px;
    left: 750px;
}


.yotvideo iframe{
    position: absolute;
    top: 3850px;
    width:300px;
    height: 250px;
    left: 1100px;
}


.youvideo iframe{
    position: absolute;
    top: 4150px;
    width:300px;
    height: 250px;
    left: 70px;
}




.wow iframe{
    position: absolute;
    top: 4150px;
    width:300px;
    height: 250px;
    left: 420px;
}

.ow iframe{
    position: absolute;
    top: 4150px;
    width:300px;
    height: 250px;
    left: 750px;
}

.hoth iframe{
    position: absolute;
    top: 4150px;
    width:300px;
    height: 250px;
    left: 1100px;
}



.news{
    position: absolute;
    top: 4450px;
    left: 650px;
}



.saylanie img{
position: absolute;
top: 4600px;
left: 80px;
width: 300px;
height: 250px;
}



.ghoas img{
    position: absolute;
    top: 4600px;
    left: 420px;
    width: 300px;
    height: 250px;
}

.ahmed img{
    position: absolute;
    top: 4600px;
    left: 780px;
    width: 300px;
    height: 250px;
}




.hmed img{
    position: absolute;
    top: 4600px;
    left: 1120px;
    width: 300px;
    height: 250px;
}



#image img{
    position: absolute;
    top: 4900px;
    left: 80px;
    width: 1340px;
    height: 220px;
}


#image h1{
    position: absolute;
    top: 4920px;
    display: flex;
    justify-content: center;
align-items: center;
left: 600px;
}

#image input{
  position: absolute;
    top: 4990px;
    left: 550px;
    width: 300px;
    height: 50px;
}


#image button{
    position: absolute;
top: 5050px;
left: 550px;
width: 300px;;
height: 50px;




}

.endofwebsite img{
    position: absolute;
    top: 4780px;
    width: 1420px;
}


.mass img{
    width: 250px;
    height: 70px;
    position: absolute;
    top: 4850px;
    left: 70px;
}


.endofwebsite{
    position: relative;
}


.ul {
    position: absolute;
    top: 5200px;
    left: 600px;
    color: white;
}

.ul li{
    gap:20px;
}


.u {
    position: absolute;
    top: 5200px;
    left: 900px;
    color: white;
}


.conTact{
    position: absolute;
    top: 5200px;
    left: 1100px;
    color: white;
}

.acca img{
    position: absolute;
    top: 5400px;
    /* background-color: #494949; */
left: 500px;
}

.ress p{
position: absolute;
top: 5700px;
color: #EEEEEE;
left: 530px;
}
    

.copyright{
    position: absolute;
    top: 5800px;
    left: 520px;
color: #EEEEEE;
}


.insta img{
    position: absolute;
    top: 5320px;
    left: 120px;
    width: 20px;
    background-color: #424242;
}


.tiktok img{
    position: absolute;
    top: 5320px;
    left: 150px;
    width: 20px;
    background-color: #424242;
}


.facebook img{
    position: absolute;
    top: 5310px;
    left: 180px;
    width: 40px;
    height: 40px;
    background-color: #424242;
}










