.logo {
    top: 14px;
    width: 150px;
height: 35px;
position: absolute;
left: 170px;
}


.li a{
    position: absolute;
left: 500px;
}

.a a{
    position: absolute;
    left: 560px;
}

.b a{
    position: absolute;
    left: 640px;
}

.d a{
    position: absolute;
left: 700px;
}


.c a{
    position: absolute;
    left: 760px;
    }

.e a{
    position: absolute;
    left: 850px;
    }


.textparent h1{
    display: flex;
    align-items: center;
justify-content: center;
position: absolute;
top: 150px;
left: 600px;
font-family: 'Times New Roman', Times, serif;
color: #5A68E2;

}

.textchild h1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    left:  500px;
    color: #63A6F1;
}

.para p{
    position: absolute;
    top: 280px;
    left: 200px;
    font-family: monospace
}

.search {
    position: absolute;
    top: 350px;
    left: 300px;
    width: 800px;
    height: 50px;
    border-color: #6851FF;
}



.btn img{
    width: 1410px;
    position: absolute;
    top: 300px;
    height: 500px;
    /* background-image: url(https://www.hiringmine.com/assets/art%20work-df4f7a46.png); */
z-index: 1px;
}
.btn button{
    position: absolute;
top: 400px;
left: 650px;
border-radius: 15px;
border-color: #5A68E2;
 background-color: #6851FF;
 width: 110px;
 z-index: 1px;
}
.btn{
    position: relative;

}


.color button{
    position: absolute;
    top: 200;
    /* left: 480px;
    margin:20px ; */
    margin-top: 500px;
    /* margin: 150px; */

 left: 380px;
border-radius: 5px;
color: #6851FF;

}

.yr button{
    position: absolute;
    top: 613px;
    left: 465px;
    width: 85px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
}

.or button{
    position: absolute;
    top: 613px;
    left: 560px;
    width: 85px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
}

.btn h1{
    position: absolute;
    top: 450px;
    left: 580px;
    /* border-radius: 15px; */
    /* border-color: #5A68E2; */
     /* background-color: #6851FF; */
     color: #6851FF;
     z-index: 1px;
}


.btn h2{
    position: absolute;
    top: 454px;
    left: 740px;
    /* border-radius: 15px; */
    /* border-color: #5A68E2; */
     /* background-color: #6851FF; */
     color: #6851FF;
     font-size: xx-large;
}


.pr button{
    position: absolute;
    top: 613px;
    left: 650px;
    width: 55px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
}


.lr button{
    position: absolute;
    top: 613px;
    left: 720px;
    width: 55px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
}

.kr button{
    position: absolute;
    top: 613px;
    left: 780px;
    width: 110px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
}

.dr button{
    position: absolute;
    top: 613px;
    left: 900px;
    width: 50px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
}

.jr button{
    position: absolute;
    top: 613px;
    left: 965px;
    width: 50px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
}

.gr button{
    position: absolute;
    top:660px;
    left: 500px;
    width: 50px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
z-index: 1px;

}
.hr button{
    position: absolute;
    top:660px;
    left: 580px;
    width: 50px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
z-index: 1px;

}
.ar button{
    position: absolute;
    top:660px;
    left: 650px;
    width: 50px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
z-index: 1px;

}


.sr button{
    position: absolute;
    top:660px;
    left: 720px;
    width: 101px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
z-index: 1px;

}
.fr button{
    position: absolute;
    top:660px;
    left: 830px;
    width: 50px;
    height: 30px;
    padding: 0px;
    padding-top: 0px;
background-color: white;
border-color: black;
color:#6851FF;
border-radius: 5px;
border: 2px solid black;
z-index: 1px;

}
.gh h1{
    position: absolute;
    top: 940px;
    left: 450px;
}
.gh h2{
    position: absolute;
    top: 930px;
    left: 750px;;
    font-size: xxx-large;
    color: #6851FF;
}
.gh p{
    position: absolute;
    top: 990px;
    left: 450px;
    font-size: x-large;
}
.w{
    position: absolute;
    top: 1050px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;
left: 130px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

/* .q{
    position: absolute;
    top: 1050px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;
left: 280px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
} */

.j{
    position: absolute;
    top: 1050px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;
left: 435px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

.u{
    position: absolute;
    top: 1050px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;
left:750px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}
.v{
    position: absolute;
    top: 1050px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;
left:1060px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

.heading7 h1{
    position: absolute;
    top: 1300px;
    left: 280px;
}
.heading7 h2{
    position:absolute;
    top: 1295px;
    left: 700px;
    font-size: xxx-large;
    color: #6851FF;
}
.heading7 p{
    position: absolute;
    top: 1370px;
    left: 150px;
}

.monster img{
    position: absolute;
    top: 1450px;
    height: 350px;
    width: 100%;
}

.headnig8 h1{
    position: absolute;
    top: 1850px;
    left: 250px;
    color: #6851FF;
}
.headnig8 h2{
    position: absolute;
    top: 1857px;
    left: 750px;
    font-size: xx-large;
}

.headnig9 h1{
    position: absolute;
    top: 1900px;
    left: 650px;
   
}


.cv{
    position: absolute;
    top: 2050px;
    left:80px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

.yy{
    position: absolute;
    top: 2050px;
    left:420px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

.bb{
    position: absolute;
    top: 2050px;
    left:720px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}
.sb{
    position: absolute;
    top: 2050px;
    left:1050px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}


.db{
    position: absolute;
    top: 200px;
    left:-970px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}
.jkl{
    position: absolute;
    top: 0px;
    left:340px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

.l{
    position: absolute;
    top: 0px;
    left:300px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

.kl{
    position: absolute;
    top: 0px;
    left:330px;
  
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 180px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14; 
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
     transition: all .6s ease;
}

.divor h1{
    position: absolute;
    top: 250px;
    left: -600px;
  color: #6851FF;
}
.divor h2{
    position: absolute;
    top: 260px;
    left: -300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.oooo{
    position:absolute;
    top: 400px;
    left: -950px;
    display: flex;
    height: 250px;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px;
        gap: 10px;
        min-height: 250px;
        width: 350px;
        background: #ffffff;
        box-shadow: 0 6px 12px #0000001a;
        border-radius: 6px;
        flex: none;
        order: 0;
        flex-grow: 0;
        transition: all .2s;
        cursor: pointer
        
        
}

.screen {
    width:400px;
    height: 250px;
    /* background-color: rgb(192, 49, 49); */
    position: absolute;
    top: 350px;
    left: -980px;
    /* z-index: 1px; */
    box-shadow: black;
    border: 1px solid #FFFFFF ;

}
.screen p{
    position: absolute;
    top: 10px;
    left: 20px;
}
.screen h5{
    position: absolute;
    top:30px;
    left: 20px;
} 
.screen h6{
    position: absolute;
    top:60px;
    left: 20px;
    color: #6851FF;
}

.screen h4{
position: absolute;
top: 160px;
left: 250px;

}

.screen h2{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 250px;
}
.screen h1{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 20px;
}

.screen img{
    position: absolute;
    top: 20px;
    left: 300px;
}
    
.script {
    width:400px;
    height: 250px;
    /* background-color: rgb(192, 49, 49); */
    position: absolute;
    top: 350px;
    left: 50px;
    /* z-index: 1px; */
    box-shadow: black;
    border: 1px solid #FFFFFF ;

}
.script p{
    position: absolute;
    top: 10px;
    left: 20px;
}
.script h5{
    position: absolute;
    top:30px;
    left: 20px;
} 
.script h6{
    position: absolute;
    top:60px;
    left: 20px;
    color: #6851FF;
}

.script h4{
position: absolute;
top: 160px;
left: 250px;

}

.script h2{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 250px;
}
.script h1{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 20px;
}

.script img{
    position: absolute;
    top: 20px;
    left: 300px;
}

.scrpt {
    width:400px;
    height: 250px;
    /* background-color: rgb(192, 49, 49); */
    position: absolute;
    top: 550px;
    left: -80px;
    /* z-index: 1px; */
    box-shadow: black;
    border: 1px solid #FFFFFF ;

}
.scrpt p{
    position: absolute;
    top: 10px;
    left: 20px;
}
.scrpt h5{
    position: absolute;
    top:30px;
    left: 20px;
} 
.scrpt h6{
    position: absolute;
    top:60px;
    left: 20px;
    color: #6851FF;
}

.scrpt h4{
position: absolute;
top: 160px;
left: 250px;

}

.scrpt h2{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 250px;
}
.scrpt h1{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 20px;
}

.scrpt img{
    position: absolute;
    top: 20px;
    left: 300px;
}


.ipt {
    width:400px;
    height: 250px;
    /* background-color: rgb(192, 49, 49); */
    position: absolute;
    top: 2900px;
    left: 80px;
    /* z-index: 1px; */
    box-shadow: black;
    border: 1px solid #FFFFFF ;

}
.ipt p{
    position: absolute;
    top: 10px;
    left: 20px;
}
.ipt h5{
    position: absolute;
    top:30px;
    left: 20px;
} 
.ipt h6{
    position: absolute;
    top:60px;
    left: 20px;
    color: #6851FF;
}

.ipt h4{
position: absolute;
top: 160px;
left: 250px;

}

.ipt h2{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 250px;
}
.ipt h1{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 20px;
}

.ipt img{
    position: absolute;
    top: 5px;
    left: 300px;
}

.it {
    width:400px;
    height: 250px;
    /* background-color: rgb(192, 49, 49); */
    position: absolute;
    top: 2900px;
    left: 500px;
    /* z-index: 1px; */
    box-shadow: black;
    border: 1px solid #FFFFFF ;

}
.it p{
    position: absolute;
    top: 10px;
    left: 20px;
}
.it h5{
    position: absolute;
    top:30px;
    left: 20px;
} 
.it h6{
    position: absolute;
    top:60px;
    left: 20px;
    color: #6851FF;
}

.it h4{
position: absolute;
top: 160px;
left: 250px;

}

.it h2{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 250px;
}
.it h1{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 20px;
}

.it img{
    position: absolute;
    top: 5px;
    left: 300px;
}

.oppt {
    width:400px;
    height: 250px;
    /* background-color: rgb(192, 49, 49); */
    position: absolute;
    top: 2900px;
    left: 980px;
    /* z-index: 1px; */
    box-shadow: black;
    border: 1px solid #FFFFFF ;

}
.oppt p{
    position: absolute;
    top: 10px;
    left: 20px;
}
.oppt h5{
    position: absolute;
    top:30px;
    left: 20px;
} 
.oppt h6{
    position: absolute;
    top:60px;
    left: 20px;
    color: #6851FF;
}

.oppt h4{
position: absolute;
top: 160px;
left: 250px;

}

.oppt h2{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 250px;
}
.oppt h1{
    font-size: medium;
    position: absolute;
    top: 200px;
    left: 20px;
}

.oppt img{
    position: absolute;
    top: 5px;
    left: 300px;
}


.hassan img{
    position: absolute;
    top: 3250px;
    width: 50%;
}

.hussain img{
    position: absolute;
    top: 3250px;
    left: 700px;
    width: 50%;
}


.khuzaimah{
    width: 100%;
    height: 450px;
    position: absolute;
top: 3800px;
background-color: #7742EF;
}


.contactopen h1{
position: absolute;
top: 100px;
left: 180px;
color: #edebff;
}
.contactopen p{
    position: absolute;
top: 150px;
left: 180px;
color: #edebff;
}

.abbas h1{
    position: absolute;
    top: 300px;
    left: 180px;
font-size: medium;
color: #edebff;
}

.abbas h2{
    position: absolute;
 top: 200px;
 left: 1150px;
 color: #edebff;
 font-size: medium
}

.abbas p{
position: absolute;
top: 230px;
left: 1150px;
color: #edebff;
}

.yousuf h1{
    position: absolute;
    top: 4170px;
    left: 350px;
    color: #edebff;
    font-size: medium;
}
.yousuf h2{
    position: absolute;
    top: 4170px;
    left: 455px;
    color: #edebff;
    font-size: medium;
}
.yousuf h3{
    position: absolute;
    top: 4200px;
    left: 350px;
    color: #edebff;
    font-size: medium;
}






